.home {
  background-image: url("https://cdn4.singleinterface.com/files/enterprise/coverphoto/76409/TML-Website-Banner-07-10-25-03-56-56.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 99%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
