.home {
  background-image: url("https://img.freepik.com/free-photo/top-view-long-italian-pasta-raw-light-background_140725-134132.jpg?semt=ais_hybrid&w=740&q=80");
  background-repeat: no-repeat;
  background-size: cover;      
  background-position: center; 
  width: 100%;
  min-height: 89vh;            
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 70px;
}


.headings {
  text-align: center;
  margin-top: clamp(50px, 9vw, 120px);
  padding: 10px 16px;
}

.headings h1 {
  font-size: clamp(30px, 6vw, 56px); /* thora bara */
  font-weight: 700;
  line-height: 1.2;
}

.headings h3 {
  font-size: clamp(18px, 3.5vw, 26px); /* thora bara */
  font-weight: 400;
  margin-top: 14px;
  line-height: 1.6;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(12px, 3vw, 24px);
  margin-top: 30px;
  flex-wrap: wrap;
}

.btn button {
  padding: clamp(10px, 2.5vw, 14px) clamp(22px, 4vw, 36px);
  font-size: clamp(14px, 2.5vw, 18px);
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
   background-color: #ffcc03;
}

/* Sign Up button */
.btn .signup {
  background-color: #ffcc03;
  color: #0f1016;
  
}

.btn .signup:hover {
  background-color: #e6b800;
  transform: translateY(-2px);
  border: #0f1016;
}

/* Login button */
.btn .login {
 background-color: #ffcc03;
  color: #0f1016;
}

.btn .login:hover {
 background-color: #e6b800;
  transform: translateY(-2px);
  border: #0f1016;
}

/* Mobile adjustment */
@media (max-width: 480px) {
  .btn {
    flex-direction: column;
  }

  .btn button {
    width: 100%;
    max-width: 260px;
  }

}
